html
{
  scroll-behavior: smooth;
  min-width: 1250px;
  min-height: 750px;
}

body
{
  background-color: #000;
  margin: 0;
}

body ::selection
{
  background-color: #ffcc00;
}

section
{
  display: block;
  height: 100%;
  width: 100%;
}

.content
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.baner
{
  background: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.baner img
{
  position: absolute;
  height: 70vh;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.baner_text
{
  position: absolute;
  font-family: Montserrat;
  color: #fff;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
  width: 60%;
  font-size: 5vw;
  text-align: right;
  height: 40%;
  top: 50%;
  transform: translateY(-50%);
}

.baner_text h1
{
  margin: 0;
  font-family: Roboto;
  font-size: 3vw;
  color: #ffcc00;
  cursor: default;
}

.social
{
  display: block;
  position: absolute;
  color: #ffcc00;
  width: 5%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.social i
{
  padding-top: 30px;
  padding-bottom: 30px;
}

.social a
{
  font-size: 36px;
  color: #ffcc00;
  text-decoration: none;
  opacity: 0.5;
  transition: 1.5s;
}

.social a:hover
{
  opacity: 1;
}

.about
{
  background-color: #222;
  background-image: url(img/about.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.about h1
{
  position: absolute;
  font-family: Montserrat;
  color: #ffcc00;
  font-size: 10vw;
  margin: 0;
  margin-right: 100px;
  right: 0;
  cursor: default;
}

.about h2
{
  position: absolute;
  font-family: Montserrat;
  color: #ffcc00;
  font-size: 8vw;
  margin: 0;
  margin-right: 60px;
  margin-top: 60px;
  right: 0;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #ffcc00;
  opacity: 0.3;
  cursor: default;
}

.about p
{
  position: absolute;
  font-family: Montserrat;
  text-align: right;
  font-size: 1vw;
  margin-right: 100px;
  margin-left: 100px;
  padding: 60px 35px 60px 35px;
  width: 60vw;
  right: 0;
  top: 140%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid rgba(255, 204, 0, 0.5);
  border-radius: 25px;
}

.portfolio
{
  background-color: #222;
  background-image: url(img/portfolio.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.portfolio_text
{
  display: block;
  position: absolute;
  font-family: Montserrat;
  margin-right: 100px;
  margin-left: 200px;
  padding: 35px 35px 35px 35px;
  max-width: 900px;
  left: 0;
  top: 212%;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: 5px solid rgba(255, 204, 0, 0.5);
  border-radius: 25px;
}

.portfolio_text p
{
  font-size: 30px;
  margin: 0;
  border-bottom: 3px solid #ffcc00;
}

.portfolio h1
{
  position: absolute;
  font-family: Montserrat;
  color: #ffcc00;
  font-size: 10vw;
  margin: 0;
  margin-right: 100px;
  right: 0;
  cursor: default;
}

.portfolio h2
{
  position: absolute;
  font-family: Montserrat;
  color: #ffcc00;
  font-size: 8vw;
  margin: 0;
  margin-right: 60px;
  margin-top: 60px;
  right: 0;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #ffcc00;
  opacity: 0.3;
  cursor: default;
}

.pictures
{
  display: inline-block;
  cursor: pointer;
  margin: 10px 0px 10px 0px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid #000;
  opacity: 0.6;
  transition: 0.5s;
}

.pictures:hover
{
  border: 5px solid #ffcc00;
  opacity: 1;
  transition: 0.5s;
}

.contact
{
  background-color: #222;
}

.contact h1
{
  position: absolute;
  font-family: Montserrat;
  color: #ffcc00;
  font-size: 10vw;
  margin: 0;
  margin-right: 100px;
  right: 0;
  cursor: default;
}

.contact h2
{
  position: absolute;
  font-family: Montserrat;
  color: #ffcc00;
  font-size: 8vw;
  margin: 0;
  margin-right: 60px;
  margin-top: 60px;
  right: 0;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #ffcc00;
  opacity: 0.3;
  cursor: default;
}

.iconscroll, .iconscroll :before
{
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  -ms-transform: translate(-50%;);
}

.iconscroll
{
  width: 60px;
  height: 60px;
  top: 75%;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 60px;
}

.scrollarrow
{
  display: block;
  position: absolute;
  height: 15px;
  left: 50%;
  top: .4em;
  margin-left: 13px;
  border-radius: 50%;
}

.scrollarrow img
{
  width: 27px;
  height: 15px;
  animation: scrollarrow_ 1.5s ease-out infinite;
}

@keyframes scrollarrow_
{
  0%   { transform: translateY(.30em); opacity: 1; }
  25%  { transform: translateY(.90em); opacity: 1; }
  75%  { opacity: 1; }
  100% { transform: translateY(.30em); opacity: 1; }
}

#navbar
{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: -100px;
  width: 100px;
  height: 100%;
  display: block;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  transition-delay: 0.5s;
}

#navbar:hover
{
  width: 350px;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.buttons a
{
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 25px 20px 25px 20px;
  font-size: 50px;
  width: 350px;
  transition: 0.5s;
}

.buttons a:hover
{
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffcc00;
  transition: 0.5s;
  width: 350px;
}

#navbar p
{
  display: inline-block;
  font-family: Montserrat;
  font-size: 30px;
  padding-top: 12px;
  position: absolute;
  margin: 0;
  padding-left: 50px;
}

#navbar_img
{
  position: absolute;
  display: block;
  width: 150px;
  margin: auto;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}

@media screen and (max-height: 800px) {
  #navbar_img {
    display: none;
  }
}

#navbar_social
{
  position: absolute;
  width: 350px;
  left: 75.625px;
  bottom: 0;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}

#navbar_social a
{
  display: inline-block;
  font-size: 30px;
  color: white;
  padding: 20px;
  transition: 0.5s;
}

#navbar_social a:hover
{
  color: #ffcc00;
  padding: 20px;
  transition: 0.5s;
}

.buttons
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
















/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
  position: absolute;
  left: 50%;
  padding: 0;
  max-width: 600px;
  transform: translateX(-50%);
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  transition: 0.5s;
}

.close:hover,
.close:focus {
  color: #ffcc00;
  font-size: 50px;
  top: 4px;
  right: 20px;
  text-decoration: none;
  cursor: pointer;
  transform: rotate(180deg);
  transition: 0.5s;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

img {
  margin-bottom: -4px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
